main.school-health-page{
    @media only screen and (min-width:100px){
        margin-top: 55px;
    }
    .breadcrumb-banner{
        background: $theme-gardient;
        padding: 70px 0 10px 0;
        h1{
            letter-spacing: 2px;
        }
    }
    .para{
        padding:50px 0;
        .row{
            position: relative;
        }
        .boxs{
            margin: auto;
        } 
        .card{
            padding: 30px;
            line-height: 2.0;
        }
    }
    .item{
        padding: 20px;
    }
    .active.center {
        background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
        background: linear-gradient(to left, #5de7ff, #0092ec);
        border-radius: 6px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        -webkit-box-shadow: 0px 0px 10px #5de7ff;
        box-shadow: 0px 0px 10px #5de7ff;
        color: #fff !important;
    }
    .active {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .6s ease;
        transition: .6s ease;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    section{
        &.section-padding{
            padding: 60px 0;
        }
        &.program-deliverables{
            background-color: rgb(243, 240, 240);
            p.mw-700{
                max-width: 700px;
            }
        }
    }
        
    .health-screening{
        @media only screen and (max-width:1200){
            #exampleSlider .MS-content .item { 
            }
        }
        #exampleSlider {
            position: relative;      /* recommended */
        }
        #exampleSlider .MS-content {
            white-space: nowrap;     /* required */
            overflow: hidden;        /* required */
            margin: 0 5%;            /* makes room for L/R arrows */
        }
        .MS-content .item {
            display: inline-block;   /* required */
            width: 31%;              /* required * Determines number of visible slides */
            position: relative;      /* required */
            vertical-align: top;     /* required */
            overflow: hidden;        /* required */
            height: 100%;            /* recommended */
            white-space: normal; 
            margin: 0 10px;    /* recommended */
            text-align: center;
            min-height: 320px;
            height: auto;
            // height: 300px;
            @media only screen and (max-width:991px){
                width: 47%;
            }
            @media only screen and (max-width:767px){
                width: 96%;
            }
        }
        .MS-content .item li{
            text-align: left;
        }
        #exampleSlider .MS-controls button {
            all: unset;
            position: absolute;      /* recommended */
            transform: translate(-50%,-50%);
            top: 50%;
            width: 40px;
            height: 40px;
            background: $theme-gardient;
            border-radius: 50%;
            text-align: center;
            color: #fff;
        }
        #exampleSlider .MS-controls .MS-left {
            left: 0%;
        }
        #exampleSlider .MS-controls .MS-right {
            right: 0%;
        }
    }

    .health-awareness{
        background-color: rgb(243, 240, 240);
        .card{
            border: none;
            background: -moz-linear-gradient(top,  rgba(249,255,253,1) 0%, rgba(249,255,253,0.99) 1%, rgba(255,255,255,0.48) 52%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(249,255,253,1) 0%,rgba(249,255,253,0.99) 1%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(249,255,253,1) 0%,rgba(249,255,253,0.99) 1%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fffd', endColorstr='#00ffffff',GradientType=0 );
            
            
        }
        .text p{
            text-align: center;
        }
        .even .col-lg-8{
            left: -80px;
            margin-top: 40px;
            margin-bottom: 40px;
            @media only screen and (max-width:991px){
                left: -20px;
            }
            @media only screen and (max-width:767px){
                left: 3px;
            }
            @media only screen and (max-width:575px){
                left: unset;
                margin-top: unset;
                margin-bottom: unset;
            }
        }
        .even .col-lg-4{
            left: 55px;
            z-index: 1;
            margin-top: 40px;
            margin-bottom: 40px;
            @media only screen and (max-width:767px){
                left: -24px;
            }
            @media only screen and (max-width:575px){
                left: unset;
                margin-top: unset;
                margin-bottom: unset;
            }
        }
        .odd .col-lg-8{
            left: 80px;
            margin-top: 40px;
            margin-bottom: 40px;
            @media only screen and (max-width:991px){
                left: 20px;
                margin-top: 75px;
            }
            @media only screen and (max-width:767px){
                left: 0px;
            }
            @media only screen and (max-width:575px){
                left: unset;
                margin-top: unset;
                margin-bottom: unset;
            }
        }
        .odd .col-lg-4{
            left: -55px;
            z-index: 1;
            margin-top: 40px;
            margin-bottom: 40px;
            @media only screen and (max-width:991px){
                left: -135px;
            }
            @media only screen and (max-width:575px){
                left: unset;
                margin-top: unset;
                margin-bottom: unset;
            }
        }
        .row.even .col-sm-4{
            @media only screen and (max-width:600px){
                left: -28px;
            }
        }
        .row.odd .col-sm-4{
            @media only screen and (max-width:600px){
                left: 20px;
            }
        }

        .row img{
            @media only screen and (max-width:991px){
                width: 200px;
            }
        }
    }
        
}

