main.school-health-page{
    @media only screen and (min-width:992px){
        margin-top: 55px;
    }
    .breadcrumb-banner{
        background: $theme-gardient;
        padding: 80px 0;
        h1{
            letter-spacing: 2px;
        }
    }
    .item{
        padding: 20px;
    }
    .active.center {
        background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
        background: linear-gradient(to left, #5de7ff, #0092ec);
        border-radius: 6px;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        -webkit-box-shadow: 0px 0px 10px #5de7ff;
        box-shadow: 0px 0px 10px #5de7ff;
        color: #fff !important;
    }
    .active {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .6s ease;
        transition: .6s ease;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    section{
        &.program-deliverables{
            padding: 60px 0;
        }
    }
}