$theme-gardient:linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
@import 'school-health';
html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
main{
    section{
        .paragraph-text{
            font-size: 18px;
        }
        &.header-mobile{
            padding: 150px 0;
            background:$theme-gardient;
            position: relative;
            .show-case-heading{
                font-size: 45px;
                font-weight: 700;
                letter-spacing: 2px;
            }
            .show-case-disdcription{
                font-size: 18px;
            }
            .about-us{
                border: 2px solid #fff;
                padding: 11px 25px;
                border-radius: 26px;
                font-size: 18px;
            }
        }
        
        &.buisness-based{
            top: -55px;
            p,h3{
                letter-spacing: 0.7px;
            }
        }
        &.about-us{
            
        }
        &.time-to-change{
            padding: 60px 0;
        }
        &.explore-more{
            padding: 60px 0;
            background: #f9f9f9;
            .border-right {
                border-right: 1px solid #dee2e6;
            }
            .nav-pills{
                .nav-link {
                    padding-left: 0;
                    font-size: 26px;
                    font-weight: 100;
                    color: #adb5bd;
                    line-height: 1.2;
                    margin-bottom: 10px;
                }
                .nav-link.active {
                    background: none;
                    color: #007bff;
                    padding-left: 20px;
                    position: relative;
                }
            } 
        }
        &.staff-recruitment-services{
            padding: 60px 0;

        }
        &.life-style-section{
            @extend .time-to-change;
        }
        &.product-section{
            @extend .life-style-section;
        }
        &.testimonial-section{
            @extend .life-style-section;
            .owl-carousel{
                .item{
                    img{
                        width: unset;
                    }
                }
            }
            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
                background: #2e7eed;
            }
        }
    }
}
footer{
    .mega-footer{
        padding: 60px 0;
        background: #000;
        ul.social-icons {
            li{
                height: 40px;
                width: 40px;
                background: grey;
                border-radius: 50%;
                margin: 10px;
                a{
                    i{
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .copyright{
        padding: 10px 0;
    }
}