@media only screen and (min-width: 992px) {
  main.school-health-page {
    margin-top: 55px;
  }
}

main.school-health-page .breadcrumb-banner {
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  padding: 80px 0;
}

main.school-health-page .breadcrumb-banner h1 {
  letter-spacing: 2px;
}

main.school-health-page .item {
  padding: 20px;
}

main.school-health-page .active.center {
  background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
  background: linear-gradient(to left, #5de7ff, #0092ec);
  border-radius: 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-box-shadow: 0px 0px 10px #5de7ff;
  box-shadow: 0px 0px 10px #5de7ff;
  color: #fff !important;
}

main.school-health-page .active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

main section.header-mobile {
  padding: 150px 0;
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  position: relative;
}

main section.header-mobile .show-case-heading {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
}

main section.header-mobile .show-case-disdcription {
  font-size: 18px;
}

main section.header-mobile .about-us {
  border: 2px solid #fff;
  padding: 11px 25px;
  border-radius: 26px;
  font-size: 18px;
}

main section.buisness-based {
  top: -55px;
}

main section.buisness-based p, main section.buisness-based h3 {
  letter-spacing: 0.7px;
}

main section.time-to-change, main section.life-style-section, main section.product-section, main section.testimonial-section {
  padding: 60px 0;
}

main section.testimonial-section .owl-carousel .item img {
  width: unset;
}

main section.testimonial-section .owl-theme .owl-dots .owl-dot.active span, main section.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
  background: #2e7eed;
}

footer .mega-footer {
  padding: 60px 0;
  background: #000;
}

footer .mega-footer ul.social-icons li {
  height: 40px;
  width: 40px;
  background: grey;
  border-radius: 50%;
  margin: 10px;
}

footer .mega-footer ul.social-icons li a i {
  font-size: 18px;
  color: #fff;
}

footer .mega-footer a {
  text-decoration: none;
}

footer .mega-footer a:hover {
  text-decoration: none;
  color: #fff;
}

footer .copyright {
  padding: 10px 0;
}


.icon {
  background: url(../images/iconstrip.png);
  height: 50px;
  width: 50px;
  background-size: 150px 50px;
  margin: auto;
}
.corporate{
  background-position-x: 0;
}
.school{
  background-position-x: 100px;
}
.industry{
  background-position-x: 50px;
}
/*# sourceMappingURL=style.css.map */