html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
$theme-gardient:linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
@import 'school-health';
@import 'corporate-health';
@import 'industrial-health';


header{
    nav{
        .navbar-brand{
            img{
                width: 40px;
                transform: scale(1.5);
                @media only screen and (max-width:992px){
                    transform: unset;
                }
            }
        }
    }
}
main{
    .sectionclass{
        padding-top: 80px;
    }
    section{
        .paragraph-text{
            font-size: 16px;
            text-align: justify;
            @media only screen and (max-width:991px){
                font-size: 15px;
            }
            @media only screen and (max-width:475px){
                font-size: 14px;
            }
        }
        .section-heading{
            font-size: 32px;
            @media only screen and (max-width:600px){
                font-size: 26px;
            }
            @media only screen and (max-width:475px){
                font-size: 22px;
            }
        }
        &.header-mobile{
            padding: 150px 0;
            background: linear-gradient(45deg, #88b5d4, #346eef6b),url(../images/bannerimg.jpg);
            background-size: cover;
            position: relative;
            .show-case-heading{
                font-size: 45px;
                font-weight: 700;
                letter-spacing: 2px;
                @media only screen and (max-width:991px){
                    font-size: 40px;
                }
                @media only screen and (max-width:375px){
                    font-size: 34px;
                }
            }
            .typed-cursor{
                font-weight: 400;
            }
            .show-case-disdcription{
                font-size: 18px;
                @media only screen and (max-width:991px){
                    font-size: 16px;
                }
            }
            
            .about-us{
                
                all: unset;
                a{
                    padding: 11px 25px;
                    border-radius: 26px;
                    font-size: 18px;
                    text-decoration: none;
                    @media only screen and (max-width:991px){
                        font-size: 16px;
                        padding: 10px 20px;
                    }
                }
            }
        }
        
        &.buisness-based{
            top: -55px;
            p{
                letter-spacing: 0.7px;
                @media only screen and (max-width:991px){
                    font-size: 14px;
                }
            }
            h3{
                letter-spacing: 0.7px;
                font-size: 20px;
                @media only screen and (max-width:991px){
                    font-size: 18px;
                }
            }
            .icon {
                background: url(../images/iconstrip.png);
                height: 50px;
                width: 50px;
                background-size: 150px 50px;
                margin: auto;
            }
            .corporate {
                background-position-x: 0;
            }
            .school {
                background-position-x: 100px;
            }
            .industry {
                background-position-x: 50px;
            }
        }
        &.time-to-change{
            padding: 60px 0;
        }
        &.explore-more{
            padding: 60px 0;
            background: #f9f9f9;
            .bordercustom {
                border-right: 1px solid #dee2e6;
                @media only screen and (max-width:991px){
                    border-bottom: 1px solid #dee2e6;
                    border-right: 0px;
                    margin-bottom: 40px;
                }
            }
            .nav-pills{
                .nav-link {
                    padding-left: 0;
                    font-size: 18px;
                    font-weight: 100;
                    color: #adb5bd;
                    line-height: 1.2;
                    margin-bottom: 10px;
                    @media only screen and (max-width:991px){
                        font-size: 18px;
                        text-align: center;
                    }
                    @media only screen and (max-width:600px){
                        font-size: 18px;
                    }
                }
                .nav-link.active {
                    background: none;
                    color: #007bff;
                    position: relative;
                    transform: scale(1.02);
                }
                .nav-link.active div{
                    border-bottom: 1px #007bff solid;
                    width: max-content;
                    @media only screen and (max-width:991px){
                        margin: auto;
                    }
                }
            }
            .tab-heading{
                font-size: 32px;
                @media only screen and (max-width:991px){
                    font-size: 26px;
                }
                @media only screen and (max-width:600px){
                    font-size: 18px;
                }
            } 
        }
        &.staff-recruitment-services{
            padding: 60px 0;
        }
        &.our-services{
            padding: 60px 0;
            background: #f9f9f9;
            .servicebox {
                margin-top: 30px;
            }
            .servicebox2 {
                text-align: center;
                margin: 30px 0 0;
            }
            @media only screen and (max-width: 991px) and (min-width: 768px){
                .servicebox {
                    width: 50%;
                    float: left;
                    padding: 0 15px;
                }
            }
    
            @media (max-width: 991px) {
                .single_feature_img {
                    text-align: center;
                    margin: 30px 0 0;
                }
            }
    
            @media (max-width: 600px) {
                .middleicon img{
                    width: 50%;
                    text-align: center;
                }
            }
        }
        &.life-style-section{
            @extend .time-to-change;
        }
        &.product-section{
            @extend .life-style-section;
        }
        &.testimonial-section{
            @extend .life-style-section;
            .owl-carousel{
                .item{
                    img{
                        width: unset;
                    }
                }
            }
            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
                background: #2e7eed;
            }
        }
    }
    .form-section{
        background: linear-gradient(45deg, #44677e, #31446d6b),url(../images/appointmentbg.jpg);
        background-size: cover;
        background-attachment: fixed;
        padding: 60px 0;
        .form-control{
            background: transparent;
            color: #fff;
            font-size: 20px;
            height: unset;
            padding: 10px 20px;
        }
        option{
            color: #000;
        }
        ::placeholder{
            color: #fff;
        }
        .make-an-appointment{
            all: unset;
            padding: 12px 26px;
            font-size: 20px;
            border-radius: 30px;
            @media only screen and (max-width:991px){
                font-size: 16px;
                padding: 10px 20px;
            }
            outline: unset;
            &:focus{
                outline: unset;
            }
            &:hover{
                background: #0062cc !important;
            }
        }
    }
}
footer{
    .mega-footer{
        padding: 60px 0;
        background: #000;
        .footer-logo{
            width: 130px;
        }
        ul.social-icons {
            li{
                height: 40px;
                width: 40px;
                background: grey;
                border-radius: 50%;
                margin: 10px;
                a{
                    i{
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }
        }
        a{
            text-decoration: none;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .copyright{
        padding: 10px 0;
    }
}