html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 100px) {
  main.school-health-page {
    margin-top: 55px;
  }
}

main.school-health-page .breadcrumb-banner {
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  padding: 70px 0 10px 0;
}

main.school-health-page .breadcrumb-banner h1 {
  letter-spacing: 2px;
}

main.school-health-page .para {
  padding: 50px 0;
}

main.school-health-page .para .row {
  position: relative;
}

main.school-health-page .para .boxs {
  margin: auto;
}

main.school-health-page .para .card {
  padding: 30px;
  line-height: 2.0;
}

main.school-health-page .item {
  padding: 20px;
}

main.school-health-page .active.center {
  background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
  background: linear-gradient(to left, #5de7ff, #0092ec);
  border-radius: 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-box-shadow: 0px 0px 10px #5de7ff;
  box-shadow: 0px 0px 10px #5de7ff;
  color: #fff !important;
}

main.school-health-page .active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

main.school-health-page section.section-padding {
  padding: 60px 0;
}

main.school-health-page section.program-deliverables {
  background-color: #f3f0f0;
}

main.school-health-page section.program-deliverables p.mw-700 {
  max-width: 700px;
}

main.school-health-page .health-screening #exampleSlider {
  position: relative;
  /* recommended */
}

main.school-health-page .health-screening #exampleSlider .MS-content {
  white-space: nowrap;
  /* required */
  overflow: hidden;
  /* required */
  margin: 0 5%;
  /* makes room for L/R arrows */
}

main.school-health-page .health-screening .MS-content .item {
  display: inline-block;
  /* required */
  width: 31%;
  /* required * Determines number of visible slides */
  position: relative;
  /* required */
  vertical-align: top;
  /* required */
  overflow: hidden;
  /* required */
  height: 100%;
  /* recommended */
  white-space: normal;
  margin: 0 10px;
  /* recommended */
  text-align: center;
  height: auto;
}

main.school-health-page .health-screening .MS-content .item li {
  text-align: left;
}

main.school-health-page .health-screening #exampleSlider .MS-controls button {
  all: unset;
  position: absolute;
  /* recommended */
  top: 35px;
}

main.school-health-page .health-screening #exampleSlider .MS-controls .MS-left {
  left: 10px;
}

main.school-health-page .health-screening #exampleSlider .MS-controls .MS-right {
  right: 10px;
}

main.school-health-page .health-awareness {
  background-color: #f3f0f0;
}

main.school-health-page .health-awareness .card {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fffd), color-stop(1%, rgba(249, 255, 253, 0.99)), color-stop(52%, rgba(255, 255, 255, 0.48)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #f9fffd 0%, rgba(249, 255, 253, 0.99) 1%, rgba(255, 255, 255, 0.48) 52%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fffd', endColorstr='#00ffffff',GradientType=0 );
}

main.school-health-page .health-awareness .text p {
  text-align: center;
}

main.school-health-page .health-awareness .even .col-lg-8 {
  left: -80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.school-health-page .health-awareness .even .col-lg-4 {
  left: 55px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.school-health-page .health-awareness .odd .col-lg-8 {
  left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.school-health-page .health-awareness .odd .col-lg-4 {
  left: -55px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 100px) {
  main.corporate-health {
    margin-top: 55px;
  }
}

main.corporate-health .breadcrumb-banner {
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  padding: 70px 0 10px 0;
}

main.corporate-health .breadcrumb-banner h1 {
  letter-spacing: 2px;
}

main.corporate-health .para {
  padding: 50px 0;
}

main.corporate-health .para .row {
  position: relative;
}

main.corporate-health .para .boxs {
  margin: auto;
}

main.corporate-health .para .card {
  padding: 30px;
  line-height: 2.0;
}

main.corporate-health .item {
  padding: 20px;
}

main.corporate-health .active.center {
  background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
  background: linear-gradient(to left, #5de7ff, #0092ec);
  border-radius: 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-box-shadow: 0px 0px 10px #5de7ff;
  box-shadow: 0px 0px 10px #5de7ff;
  color: #fff !important;
}

main.corporate-health .active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

main.corporate-health section.section-padding {
  padding: 60px 0;
}

main.corporate-health section.program-deliverables {
  background-color: #f3f0f0;
}

main.corporate-health section.program-deliverables p.mw-700 {
  max-width: 700px;
}

main.corporate-health .health-screening #exampleSlider {
  position: relative;
  /* recommended */
}

main.corporate-health .health-screening #exampleSlider .MS-content {
  white-space: nowrap;
  /* required */
  overflow: hidden;
  /* required */
  margin: 0 5%;
  /* makes room for L/R arrows */
}

main.corporate-health .health-screening .MS-content .item {
  display: inline-block;
  /* required */
  width: 31%;
  /* required * Determines number of visible slides */
  position: relative;
  /* required */
  vertical-align: top;
  /* required */
  overflow: hidden;
  /* required */
  height: 100%;
  /* recommended */
  white-space: normal;
  margin: 0 10px;
  /* recommended */
  text-align: center;
  min-height: 505px;
  height: auto;
}

main.corporate-health .health-screening .MS-content .item li {
  text-align: left;
}

main.corporate-health .health-screening #exampleSlider .MS-controls button {
  all: unset;
  position: absolute;
  /* recommended */
  top: 35px;
}

main.corporate-health .health-screening #exampleSlider .MS-controls .MS-left {
  left: 10px;
}

main.corporate-health .health-screening #exampleSlider .MS-controls .MS-right {
  right: 10px;
}

main.corporate-health .health-awareness {
  background-color: #f3f0f0;
}

main.corporate-health .health-awareness .card {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fffd), color-stop(1%, rgba(249, 255, 253, 0.99)), color-stop(52%, rgba(255, 255, 255, 0.48)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #f9fffd 0%, rgba(249, 255, 253, 0.99) 1%, rgba(255, 255, 255, 0.48) 52%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fffd', endColorstr='#00ffffff',GradientType=0 );
}

main.corporate-health .health-awareness .text p {
  text-align: center;
}

main.corporate-health .health-awareness .even .col-lg-8 {
  left: -80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.corporate-health .health-awareness .even .col-lg-4 {
  left: 55px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.corporate-health .health-awareness .odd .col-lg-8 {
  left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

main.corporate-health .health-awareness .odd .col-lg-4 {
  left: -55px;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 100px) {
  main.industrial-health-page {
    margin-top: 55px;
  }
}

main.industrial-health-page .breadcrumb-banner {
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  padding: 70px 0 10px 0;
}

main.industrial-health-page .breadcrumb-banner h1 {
  letter-spacing: 2px;
}

main.industrial-health-page .para {
  padding: 50px 0;
}

main.industrial-health-page .para .row {
  position: relative;
}

main.industrial-health-page .para .boxs {
  margin: auto;
}

main.industrial-health-page .para .card {
  padding: 30px;
  line-height: 2.0;
}

main.industrial-health-page .item {
  padding: 20px;
}

main.industrial-health-page .active.center {
  background: -webkit-gradient(linear, right top, left top, from(#5de7ff), to(#0092ec));
  background: linear-gradient(to left, #5de7ff, #0092ec);
  border-radius: 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-box-shadow: 0px 0px 10px #5de7ff;
  box-shadow: 0px 0px 10px #5de7ff;
  color: #fff !important;
}

main.industrial-health-page .active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

main.industrial-health-page section.section-padding {
  padding: 60px 0;
}

main.industrial-health-page section.program-deliverables {
  background-color: #f3f0f0;
}

main.industrial-health-page section.program-deliverables p.mw-700 {
  max-width: 700px;
}

main.industrial-health-page .objective {
  background-color: #f3f0f0;
}

header nav .navbar-brand img {
  width: 80px;
}

main section .paragraph-text {
  font-size: 18px;
}

main section.header-mobile {
  padding: 150px 0;
  background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
  position: relative;
}

main section.header-mobile .show-case-heading {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 2px;
}

main section.header-mobile .show-case-disdcription {
  font-size: 18px;
}

main section.header-mobile .about-us {
  border: 2px solid #fff;
  padding: 11px 25px;
  border-radius: 26px;
  font-size: 18px;
}

main section.buisness-based {
  top: -55px;
}

main section.buisness-based p, main section.buisness-based h3 {
  letter-spacing: 0.7px;
}

main section.buisness-based .icon {
  background: url(../images/iconstrip.png);
  height: 50px;
  width: 50px;
  background-size: 150px 50px;
  margin: auto;
}

main section.buisness-based .corporate {
  background-position-x: 0;
}

main section.buisness-based .school {
  background-position-x: 100px;
}

main section.buisness-based .industry {
  background-position-x: 50px;
}

main section.time-to-change, main section.life-style-section, main section.product-section, main section.testimonial-section {
  padding: 60px 0;
}

main section.explore-more {
  padding: 60px 0;
  background: #f9f9f9;
}

main section.explore-more .border-right {
  border-right: 1px solid #dee2e6;
}

main section.explore-more .nav-pills .nav-link {
  padding-left: 0;
  font-size: 26px;
  font-weight: 100;
  color: #adb5bd;
  line-height: 1.2;
  margin-bottom: 10px;
}

main section.explore-more .nav-pills .nav-link.active {
  background: none;
  color: #007bff;
  padding-left: 20px;
  position: relative;
}

main section.staff-recruitment-services {
  padding: 60px 0;
}

main section.our-services {
  padding: 60px 0;
  background: #f9f9f9;
}

main section.our-services .servicebox {
  margin-top: 30px;
}

main section.our-services .servicebox2 {
  text-align: center;
  margin: 30px 0 0;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  main section.our-services .servicebox {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  main section.our-services .single_feature_img {
    text-align: center;
    margin: 30px 0 0;
  }
}

@media (max-width: 600px) {
  main section.our-services .middleicon img {
    width: 50%;
    text-align: center;
  }
}

main section.testimonial-section .owl-carousel .item img {
  width: unset;
}

main section.testimonial-section .owl-theme .owl-dots .owl-dot.active span, main section.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
  background: #2e7eed;
}

footer .mega-footer {
  padding: 60px 0;
  background: #000;
}

footer .mega-footer .footer-logo {
  width: 100px;
}

footer .mega-footer ul.social-icons li {
  height: 40px;
  width: 40px;
  background: grey;
  border-radius: 50%;
  margin: 10px;
}

footer .mega-footer ul.social-icons li a i {
  font-size: 18px;
  color: #fff;
}

footer .mega-footer a {
  text-decoration: none;
}

footer .mega-footer a:hover {
  text-decoration: none;
  color: #fff;
}

footer .copyright {
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */